<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <form method="post">
            <button name="action" type="submit" value="reload">Reload Commands</button>
            <input name="password" type="password" placeholder="Password" required>
        </form>
    </body>
</html>