.battle-background {
    background-color: linear-gradient(135deg, #013511, #024e06);
    background-image: url('/src/assets/bg.png');
    background-repeat: repeat;
    background-size: 52px 52px;
    background-position: 0 0; 
    animation: scrollBackground 20s linear infinite;
    height: 100vh;
    width: 100vw;
}

@keyframes scrollBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -104px -104px;
    }
}
