<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <form method="post">
            <button name="action" type="submit" value="reload">Reload Commands</button>
            <input name="password" type="password" placeholder="Password" required>
        </form>
        <form method="post">
            <button name="action" type="submit" value="revive">Revive</button>
            <input name="id" type="number" placeholder="User ID" required>
            <input name="password" type="password" placeholder="Password" required>
        </form>
        <form method="post">
            <button name="action" type="submit" value="translate">Translate</button>
            <input name="id" type="text" placeholder="ID" required>
            <input name="password" type="password" placeholder="Password" required>
        </form>
        <form method="post" action="/vote">
            <button name="action" type="submit" value="vote">Vote</button>
            <input name="user" type="text" placeholder="User DiscordId" required>
            <input name="password" type="password" placeholder="Password" required>
        </form>
        <form method="post">
            <button name="action" type="submit" value="copy">Copy Emojis</button>
            <input name="password" type="password" placeholder="Password" required>
        </form>
        <form method="post">
            <button name="action" type="submit" value="setup">Setup Emojis</button>
            <input name="password" type="password" placeholder="Password" required>
        </form>
    </body>
</html>